@import url(http://fonts.googleapis.com/css?family=Roboto:400,900,700,400italic,700italic);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?105nih");
  src: url("../fonts/icomoon.eot?#iefix105nih") format("embedded-opentype"), url("../fonts/icomoon.woff?105nih") format("woff"), url("../fonts/icomoon.ttf?105nih") format("truetype"), url("../fonts/icomoon.svg?105nih#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-images:before {
  content: "\e600"; }

.icon-file:before {
  content: "\e601"; }

.icon-envelope:before {
  content: "\e602"; }

.icon-user:before {
  content: "\e603"; }

.icon-menu:before {
  content: "\e604"; }

.icon-link:before {
  content: "\e605"; }

.icon-twitter:before {
  content: "\e606"; }

.row {
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

/*! responsive-nav.js 1.0.32 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none; }

.nav-collapse li {
  width: 100%;
  display: block; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.nav-collapse.opened {
  max-height: 9999px; }

.disable-pointer-events {
  pointer-events: none !important; }

.nav-toggle {
  margin: 0 45.5%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .nav-toggle:before {
    content: "=";
    text-align: center;
    font-size: 2em; }
  .nav-toggle:hover {
    color: #fa5254; }

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; } }
html {
  min-height: 100%; }

body {
  color: white;
  font-family: Roboto, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

img {
  width: 100%;
  border: 0; }

a {
  color: #fa5254;
  text-decoration: none;
  -webkit-transition: color, 0.3s;
  -moz-transition: color, 0.3s;
  transition: color, 0.3s; }
  a:hover {
    color: #111111; }

h1, h2, h3, h4, h5, h6 {
  color: #111111; }

blockquote {
  color: #919191;
  font-size: 0.95em;
  font-style: italic; }

.left {
  float: left; }

.right {
  float: right; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* line-height: 1; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.main-header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: #111111 url("../img/head_bg.jpg") no-repeat;
  background-size: cover;
  min-height: auto;
  position: relative;
  float: none; }
  .main-header:last-child {
    margin-right: 0; }
  .main-header .head-container {
    position: relative;
    width: 84%;
    margin: 0 auto;
    padding: 1em 0; }
  .main-header .logo {
    margin-top: 0;
    width: 80%; }
    .main-header .logo a {
      color: white;
      text-decoration: none;
      font: normal 900 1em Roboto, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      text-transform: uppercase; }
      .main-header .logo a span {
        color: #fa5254; }
  .main-header .main-nav {
    margin-top: 1em; }
    .main-header .main-nav ul {
      padding: 0; }
      .main-header .main-nav ul li {
        margin: 0 0 1em;
        padding: 0 0 1em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
        .main-header .main-nav ul li a {
          color: rgba(255, 255, 255, 0.5);
          font-size: 1.2em;
          text-decoration: none;
          -webkit-transition: color, 0.3s;
          -moz-transition: color, 0.3s;
          transition: color, 0.3s; }
        .main-header .main-nav ul li span {
          color: rgba(255, 255, 255, 0.5);
          font-size: 1.2em;
          margin-right: 0.8em;
          -webkit-transition: color, 0.3s;
          -moz-transition: color, 0.3s;
          transition: color, 0.3s; }
        .main-header .main-nav ul li:hover a {
          color: white; }
        .main-header .main-nav ul li:hover span {
          color: #fa5254; }

@media screen and (min-width: 768px) {
  .main-header {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    background: #111111 url("../img/head_bg.jpg") no-repeat;
    background-size: cover;
    min-height: 100%;
    position: fixed;
    float: left; }
    .main-header:last-child {
      margin-right: 0; }
    .main-header .head-container {
      position: relative;
      width: 84%;
      margin: 0 auto;
      padding: 1em 0; }
    .main-header .logo {
      font: normal 900 1.8em Roboto, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      text-transform: uppercase;
      margin: 0.8em 0 1.2em; }
      .main-header .logo span {
        color: #fa5254;
        letter-spacing: -1px; }
    .main-header .main-nav {
      margin-top: 1em; }
      .main-header .main-nav ul {
        padding: 0; }
        .main-header .main-nav ul li {
          margin: 0 0 1em;
          padding: 0 0 1em;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
          .main-header .main-nav ul li a {
            color: rgba(255, 255, 255, 0.5);
            font-size: 1.2em;
            text-decoration: none;
            -webkit-transition: all, 0.3s;
            -moz-transition: all, 0.3s;
            transition: all, 0.3s; }
          .main-header .main-nav ul li span {
            color: rgba(255, 255, 255, 0.5);
            font-size: 1.2em;
            margin-right: 0.8em;
            -webkit-transition: all, 0.3s;
            -moz-transition: all, 0.3s;
            transition: all, 0.3s; }
          .main-header .main-nav ul li:hover a {
            color: white; }
          .main-header .main-nav ul li:hover span {
            color: #fa5254; } }
.main-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 1em 8%;
  color: #444444; }
  .main-content:last-child {
    margin-right: 0; }

.post {
  margin-bottom: 60px; }
  .post p {
    font: 1em/1.6em "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }
  .post .meta {
    color: rgba(17, 17, 17, 0.5); }
  .post footer {
    border-top: 1px solid rgba(17, 17, 17, 0.1);
    margin-top: 1.2em;
    padding-top: 0.3em; }

.posts {
  margin: 1.8em 0 0;
  padding: 0;
  list-style: none; }
  .posts li {
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1); }
    .posts li .post-date {
      display: block;
      margin-top: 5px;
      color: rgba(17, 17, 17, 0.5); }
    .posts li .post-link {
      font-size: 1.6em;
      font-weight: 700; }
    .posts li .excerpt {
      margin-top: 1em;
      line-height: 1.6em; }

@media screen and (min-width: 768px) {
  .main-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    padding: 1em 4%;
    margin: 0;
    float: right;
    color: #444444; }
    .main-content:last-child {
      margin-right: 0; }

  .post {
    margin-bottom: 60px; }
    .post p {
      font: 1em/1.6em "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

  .posts {
    margin: 1.8em 0 0;
    padding: 0;
    list-style: none; }
    .posts li {
      margin-bottom: 1.5em;
      padding-bottom: 1.5em;
      border-bottom: 1px solid rgba(17, 17, 17, 0.1); }
      .posts li .post-date {
        display: block;
        margin-top: 5px;
        color: rgba(17, 17, 17, 0.5); }
      .posts li .post-link {
        font-size: 2em;
        font-weight: 700; }
      .posts li .excerpt {
        margin-top: 1em;
        line-height: 1.6em; } }
