<header class="main-header">
  <section class="head-container">
    <h1 class="logo"><a href="{{ site.baseurl }}/">Tajdid Rahman <span>//</span></a></h1>

    <nav class="main-nav">
      <ul>
        <li><span class="icon-file"></span><a href="{{ site.baseurl }}/">Journal</a></li>
        <li><span class="icon-user"></span><a href="{{ site.baseurl }}/about">About</a></li>
        <li><span class="icon-envelope"></span><a href="mailto:tajdidrahman@gmail.com">Contact</a></li>
        <li><span class="icon-twitter"></span><a href="http://twitter.com/tajdidr">@tajdidr</a></li>
      </ul>
    </nav>
  </section>
</header>