---
layout: default
---

<article class="post">
	<header>
		<h1>{{ page.title }}</h1>
		<span class="meta">{{ page.date | date: "%A, %d %B %Y" }} • {{ page.week }} {% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span>
	</header>

	<section>
		{{ content }}
	</section>

	<footer>
		<p class="clearfix">
			{% if page.previous.url %} 
				<a href="{{site.baseurl}}{{page.previous.url}}" class="left"><strong>&laquo; {{page.previous.title}}</strong></a> 
			{% endif %} 
			{% if page.next.url %} 
				<a href="{{site.baseurl}}{{page.next.url}}"  class="right"><strong>{{page.next.title}} &raquo;</strong></a> 
			{% endif %} 
		</p>
	</footer>
</article>